<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Administrador</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h1>Novo Administrador</h1>
<form action="#" th:action="@{/admin}" th:object="${administrador}" method="post">
    <div>
        <label>Nome Admin:</label>
        <input type="text" th:field="*{nomeUser}" />
    </div>
    <div>
        <label>Aniversário:</label>
        <input type="date" th:field="*{dataAniversario}" />
    </div>
    <div>
        <label>CPF:</label>
        <input type="text" th:field="*{cpfUser}" />
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>
</body>
</html>
